/* roboto-condensed-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-condensed-v19-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dosis-300 - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/dosis-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dosis-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --dark-blue: #2B4074;
    --title-grey: #4A4A4A;
    --pure-white: #ffffff;
    --text-color: #9B9B9B;
    --recent_news-bg: #F9F6E5;
    --services-info-color: #797979;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-color);
    max-width: 1440px;
    margin: 0 auto;
}

.img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
}

.section_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--title-grey);
    margin: 0 auto;
}

.line {
    display: block;
    width: 100px;
    height: 8px;
    background: var(--dark-blue);
    margin: 0;
    border: none;
}


/*header styles starts*/

.header {
    height: 100px;
    background: var(--dark-blue);
}

.header_wrapper {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    padding-right: 60px;
}

/*header styles ends*/


/*intro styles starts*/

.intro {
    background: url(../images/svg/background-pic.svg) no-repeat center;
    height: 623px;
    background-size: cover;
    padding-top: 107px;
    display: flex;
    justify-content: center;
    position: relative;
}

.intro-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_title {
    max-width: 440px;
    font-size: 84px;
    line-height: 84px;
    color: var(--pure-white);
    letter-spacing: 2px;
    margin-bottom: 29px;
    text-align: center;
}

.intro_subtitle {
    max-width: 587px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 20px;
    color: var(--pure-white);
    text-align: center;
    padding-bottom: 28px;
    margin: 0;
}

.intro-line {
    display: none;
}

.intro_button {
    width: 200px;
    padding: 16px 44px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: var(--recent_news-bg);
    background: var(--dark-blue);
    border: 0;
    border-radius: 3px;
    margin-bottom: 124px;
}

.intro_button:hover, .intro_button:focus, .intro_button:active {
    background-color: #475780;
}

.arrow-prev:hover {
    opacity: .9;
}

.arrow_prev:hover {
    opacity: .9;
}

.intro_arrows {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.owl-pagination {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 20px;
}

.owl-page .span {
    color: var(--dark-blue);
    background: var(--dark-blue);
}

/*intro styles ends*/


/*promo styles starts*/

.promo {
    height: 160px;
    background-size: cover;
    background: var(--dark-blue);
    padding: 35px 0 40px 0;
}

.promo_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.promo_text-wrapper {
    width: 50%;
}

.promo_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--pure-white);
    margin: 0 0 10px 0;
}

.promo_information {
    font-family: Dosis, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    color: var(--pure-white);
}

.promo_button {
    padding: 16px 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--dark-blue);
    border: 0;
    background: var(--recent_news-bg);
    border-radius: 3px;
}

.promo_button:hover, .promo_button:focus, .promo_button:active {
    background-color: #bdbcb7;
}

/*promo styles ends*/


/*services styles starts*/

.services {
    padding: 52px 0 10px 0;
}

.services_wrapper {
    background-color: var(--pure-white);
    display: flex;
    flex-direction: column;
}

.services_info-wrapper {
    max-width: 611px;
}

.services_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--dark-blue);
    padding-bottom: 61px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.services-line {
    background: var(--dark-blue);
    margin-bottom: 34px;
}

.services_slogan {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: var(--title-grey);
    padding-bottom: 38px;
    margin: 0;
}

.services_info {
    color: var(--services-info-color);
    padding-bottom: 32px;
    margin: 0;
}

.services_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services-link {
    outline: none;
    text-decoration: none;
    height: 255px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--recent_news-bg);
}

.services_title-card {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--title-grey);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 21px;
    text-transform: uppercase;
    transition: transform 0.5s;
}

.services_card-thumb {
    min-height: 64px;
    min-width: 64px;
    padding-bottom: 30px;
    transition: transform 0.5s;
}

.services_hidden {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--text-color);
    text-align: center;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0 5px 18px 5px;
    margin: 0;
}

.services_hidden-more {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--dark-blue);
    text-transform: uppercase;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0 5px 20px 5px;
}

.services-link:hover, .services-link:focus, .services-link:active {
    transition: 0.5s;
    outline: 4px solid var(--dark-blue);
    outline-offset: -4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.services-link:hover .services_title-card {
    transform: translateY(-30%);
}

.services-link:hover .services_card-thumb {
    transform: translateY(-1%);
}

.services-link:hover .services_hidden-more, .services-link:focus .services_hidden-more {
    transition-delay: 1s;
    opacity: 1;
    height: auto;
}

.services-link:hover .services_hidden, .services-link:focus .services_hidden {
    transition-delay: 0.5s;
    opacity: 1;
    height: auto;
}

/*services styles ends*/


/*recent_work styles starts*/

.recent_work {
    background: url(../images/svg/recent_works-bg.svg) no-repeat center;
    background-size: cover;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.recent_work-wrapper {
    max-width: 1440px;
    padding: 0 20px;
}

.recent_work-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent_work-link {
    outline: none;
    text-decoration: none;
}

.recent_work-hidden {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 90%;
    top: 5%;
    left: 5%;
    transition: opacity .5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.recent_work-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--pure-white);
    padding-bottom: 24px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}

.recent_work-line {
    background: var(--pure-white);
    margin-bottom: 70px;
}

.recent_work-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, auto));
    grid-column-gap: 35px;
    grid-row-gap: 25px;
}

.recent_work-title-card {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--dark-blue);
    margin: 0;
}

.recent_work-pic {
    margin-bottom: 30px;
    max-width: 100%;
    position: relative;
}

.recent_work-thumb {
    max-width: 100%;
}

.recent_work-icon:first-child {
    padding-right: 12px;
}

.recent_work-icon:last-child {
    width: 32px;
}

.recent_work-link:hover .recent_work-hidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: .7;
    height: 90%;
}

/*recent_work styles ends*/


/*video_block starts*/

.video_block {
    padding: 80px 45px;
    display: flex;
    justify-content: center;
}

.video_block-wrapper {
    max-width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.video_block-pic {
    margin-right: 30px;
    max-width: 50%;
}

.video-block-title {
    padding-bottom: 15px;
    margin: 0;
}

.video_block-line {
    background: var(--dark-blue);
    margin-bottom: 20px;
}

.video_block-text-wrapper {
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.video_block-text {
    padding-bottom: 20px;
    margin: 0;
}

.video_block-button {
    padding: 25px 35px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--recent_news-bg);
    line-height: 18px;
    border: 0;
    background: var(--dark-blue);
    border-radius: 3px;
}

.video_block-button:hover, .video_block-button:focus, .video_block-button:active {
    background-color: #475780;
}

/*video_block ends*/


/*recent_news starts*/

.recent_news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 20px 80px 20px;
    background: var(--recent_news-bg);
}

.recent_news-wrapper {
    max-width: 880px;
    display: flex;
    flex-direction: column;
}

.recent_news-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent_news-title {
    padding-bottom: 30px;
}

.recent_news-line {
    margin-bottom: 108px;
}

.recent_news-cards {
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.recent_news-cards-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}

.recent_news-cards-two-columns {
    display: none;
}

.recent_news-cards-four-columns {
    display: none;
}

.recent_news-sect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recent_news-content {
    margin: 0 0 30px 0;
    position: relative;
}

.recent_news-content-pic:first-child {
    border-radius: 0 0 10px 10px;
}

.recent_news-content-pic {
    max-width: 100%;
}

.recent_news-content-title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--title-grey);
    margin: 0;
    height: 40px;
    background: var(--pure-white);
    padding-left: 20px;
    padding-bottom: 11px;
    padding-top: 7px;
    transition: transform .5s;
    width: 100%;
}

.recent_news-content:hover .recent_news-content-title {
    transform: translateY(-20px);
    background: var(--dark-blue);
    color: var(--recent_news-bg);
}

.recent_news-content:hover {
    outline: 8px solid var(--dark-blue);
    outline-offset: -8px;
    transition: 0.5s;
}

.recent_news-content:hover .recent_news-link {
    opacity: 1;
    transition-delay: .5s;
    transition: .5s;
}

.recent_news-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.info_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*recent_news ends*/


/*testimonial starts*/

.testimonial {
    position: relative;
    background: var(--pure-white);
    padding: 100px 80px 100px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial-quotes {
    padding-bottom: 45px;
}

.testimonial-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
}

.testimonial-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: var(--title-grey);
    margin: 0;
    padding-bottom: 45px;
    text-align: center;
}

.testimonial-important {
    color: var(--dark-blue);
}

.testimonial-author {
    font-family: Dosis, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--title-grey);
    padding-bottom: 80px;
}

/*testimonial ends*/


/*footer starts*/

.footer {
    background: var(--dark-blue);
    padding-bottom: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 158px;
    position: relative;
}

.footer_wrapper {
    padding: 0 42px;
}

.footer_logo {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: var(--dark-blue);
}

.footer_info-wrapper {
    max-width: 751px;
    margin-bottom: 80px;
}

.footer_info {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 2px;
    color: var(--pure-white);
    margin: 0;
}

.footer_icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 57px;
}

.one_footer-icon {
    height: 57px;
    border: 1px solid #7EBF84;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one_footer-icon:last-child {
    border-right: none;
}

.one_footer-icon:first-child {
    border-left: none;
}

.footer_contacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 49px;
    grid-row-gap: 15px;
}

.footer_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: var(--recent_news-bg);
    margin: 0;
    padding-bottom: 22px;
}

.footer-contact_link, .footer-contact {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--pure-white);
    text-decoration: none;
    margin: 0;
    padding-bottom: 4px;
}

/*footer ends*/


/* back-to-top starts*/
.back-to-top {
    padding: 0 5px 0 5px;
    height: 42px;
    background: var(--recent_news-bg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.back-to-top_wrapper {
    max-width: 924px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.back-to-top_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--title-grey);
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 7px 0 0;
}

.back-to-top_link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
}

/* back-to-top end*/


/*media starts*/

@media only screen and (min-width: 1025px) {
    .intro {
        height: 668px;
        padding-top: 107px;
    }

    .intro_title {
        font-size: 96px;
        line-height: 96px;
        margin-bottom: 18px;
    }

    .intro_subtitle {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 28px;
        max-width: 886px;
    }

    .intro_button {
        margin-bottom: 124px;
    }

    .promo {
        height: 192px;
        padding: 57px 0;
    }

    .promo_title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 4px;
    }

    .promo_information {
        font-size: 16px;
        line-height: 18px;
        max-width: 796px;
    }

    .services_title {
        padding-bottom: 64px;
        justify-content: flex-start;
    }

    .services_slogan {
        padding-bottom: 30px;
    }

    .services_wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .services_text {
        display: block;
        max-width: 351px;
        margin-right: 50px;
    }

    .services_cards {
        max-width: 878px;
    }

    .services_hidden {
        padding-bottom: 10px;
    }

    .services_card-thumb {
        padding-bottom: 25px;
    }

    .recent_work-title-wrapper {
        align-items: center;
    }

    .recent_work-cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .video_block {
        padding-bottom: 99px;
    }

    .video_block-wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .video-block-title {
        margin: 0;
        display: block;
    }

    .video_block-pic {
        max-width: 470px;
        margin-right: 93px;
    }

    .video_block-text-wrapper {
        height: 100%;
        max-width: 584px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .recent_news-cards-three-columns {
        display: none;
    }

    .recent_news-cards-four-columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
    }

    .recent_news-wrapper {
        max-width: 1200px;
    }

    .testimonial-wrapper {
        max-width: 900px;
    }

    .testimonial-quotes {
        padding-bottom: 30px;
    }

    .testimonial-text {
        padding-bottom: 30px;
        font-size: 36px;
        line-height: 42px;
    }

    .testimonial-author {
        font-size: 24px;
        line-height: 28px;
    }

    .footer {
        padding-bottom: 115px;
    }

    .footer_wrapper {
        max-width: 1141px;
        width: 100%;
    }

    .footer_info {
        font-size: 24px;
        line-height: 32px;
        max-width: 720px;
    }

    .footer_contacts {
        column-gap: 15px;
    }
}


@media screen and (max-width: 1050px) {
    .services_wrapper {
        background-color: var(--pure-white);
        display: flex;
        flex-direction: column;
    }

    .services_text {
        max-width: 611px;
    }

    .services_title {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 45px;
    }

    .intro {
        height: 465px;
        padding-top: 87px;
    }

    .intro_title {
        max-width: 100%;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 31px;
    }

    .intro_button {
        margin-bottom: 50px;
    }

    .promo {
        height: 187px;
        padding: 60px 0 30px 0;
    }

    .promo_title {
        font-size: 24px;
        line-height: 24px;
        font-style: normal;
        padding: 0;
    }

    .promo_information {
        font-size: 16px;
        line-height: 18px;
    }

    .promo_text-wrapper {
        width: 100%;
        max-width: 412px;
        margin-right: 60px;
    }

    .services_info-wrapper {
        width: 100%;
    }

    .services_info {
        padding-bottom: 27px;
    }

    .services_title {
        padding-bottom: 30px;
    }

    .services_slogan {
        padding-bottom: 32px;
    }

    .services_line-pic {
        margin-bottom: 31px;
    }

    .services_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent_work-title-card {
        font-size: 20px;
        line-height: 23px;
    }

    .recent_work-line {
        margin-bottom: 65px;
    }

    .recent_work-wrapper {
        padding: 0 60px;
    }

    .video_block-pic {
        margin-right: 34px;
        max-width: 240px;
    }

    .video_block-line {
        margin-bottom: 7px;
    }

    .recent_news {
        padding-bottom: 40px;
    }

    .recent_news-title {
        font-size: 36px;
        line-height: 38px;
    }

    .recent_news-line {
        margin-bottom: 30px;
    }

    .recent_news-cards-three-columns {
        display: none;
    }

    .recent_news-cards-two-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }

    .testimonial-text {
        font-size: 32px;
        line-height: 34px;
        text-align: center;
    }

    .testimonial-wrapper {
        margin: 0;
       padding: 60px 41px 86px 41px;
    }

    .testimonial-author {
        font-size: 20px;
        line-height: 23px;
    }

    .footer {
        padding-top: 114px;
        padding-bottom: 51px;
    }

    .footer_wrapper {
        margin: 0 46px;
    }

    .footer_info-wrapper {
        max-width: 690px;
    }

    .footer_contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }

    .footer_icons {
        margin-bottom: 86px;
    }
}


@media screen and (max-width: 760px) {
    .promo {
        height: 254px;
        padding: 40px 0;
    }

    .promo_title {
        text-align: center;
        margin-bottom: 7px;
    }

    .promo_information {
        text-align: center;
    }

    .promo_text-wrapper {
        max-width: 580px;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .promo_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (max-width: 700px) {
    .intro_subtitle {
        display: none;
    }
}


@media screen and (max-width: 640px) {
    .intro {
        height: 386px;
        padding-top: 50px;
    }

    .intro_title {
        margin-bottom: 7px;
        max-width: 360px;
    }

    .intro-line {
        display: block;
        width: 61px;
        height: 8px;
        background: var(--title-grey);
        margin: 0 0 46px 0;
        border: none;
    }

    .intro_button {
        margin-bottom: 53px;
    }

    .services {
        padding-top: 24px;
    }

    .services_info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services_title {
        padding-bottom: 12px;
    }

    .services_slogan {
        padding-bottom: 30px;
        text-align: center;
    }

    .services_line {
        margin-bottom: 31px;
    }

    .services_info {
        padding-bottom: 40px;
        text-align: center;
    }

    .recent_work {
        padding: 40px 0 43px 0;
    }

    .recent_work-wrapper {
        padding: 0 61px;
    }

    .recent_work-line {
        margin-bottom: 29px;
    }

    .recent_work-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    .recent_work-title {
        font-size: 48px;
        line-height: 56px;
    }

    .recent_work-pic {
        margin-bottom: 10px;
    }

    .video_block {
        padding: 46px 60px 53px 60px;
    }

    .video_block-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video_block-pic {
        max-width: 100%;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 46px;
    }

    .video_block-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 512px;
    }

    .video-block-title {
        text-align: center;
    }

    .video_block-text {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }

    .recent_news {
        padding: 40px 0;
    }

    .recent_news-content {
        max-width: 100%;
    }

    .recent_news-title {
        font-size: 48px;
        line-height: 38px;
        padding-bottom: 20px;
        text-align: center;
    }

    .recent_news-line {
        margin-bottom: 41px;
    }

    .testimonial {
        padding: 60px 40px 40px 40px;
    }

    .testimonial-text-wrapper {
        max-width: 552px;
    }

    .footer {
        padding: 84px 0 130px 0;
    }

    .footer_wrapper {
        margin: 0 53px;
    }

    .footer_info {
        font-size: 24px;
        line-height: 26px;
    }

    .footer_icons {
        margin-bottom: 40px;
    }

    .footer_contacts {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 40px;

    }
}


@media screen and (max-width: 450px) {
    .intro_arrows {
        display: none;
    }

}


@media screen and (max-width: 640px) {
    .promo {
        height: 301px;
        display: flex;
        align-items: center;
    }
}


@media screen and (max-width: 493px) {
    .recent_news-title {
        font-size: 24px;
        line-height: 38px;
    }

    .recent_news-line {
        width: 50px;
        margin-bottom: 25px;
    }

    .recent_news-cards-two-columns {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 440px) {
    .services-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        padding-bottom: 20px;
    }

    .services-line-new {
        display: block;
        width: 100px;
        height: 8px;
        background: var(--dark-blue);
        margin: 0 0 21px 0;
    }

    .services_slogan {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    .services_info {
        font-size: 15px;
        line-height: 17px;
        padding-bottom: 40px;
    }

    .services_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        padding: 85px 0 63px 0;
    }

    .footer_wrapper {
        margin: 0 23px 0 23px;
    }

    .footer_info {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .footer_icons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 57px;
    }

    .one_footer-icon {
        border: none;
    }

    .footer_contacts {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 41px;
    }

    .footer_info-wrapper {
        margin-bottom: 43px;
    }

    .footer_icons {
        margin-bottom: 46px;
    }

    .footer-contact_link {
        text-align: center;
    }

    .one_footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_title {
        padding-bottom: 18px;
    }
}


@media screen and (max-width: 320px) {
    .header {
        height: 80px;
    }

    .header_wrapper {
        height: 80px;
    }

    .wrapper {
        padding: 0 20px;
    }

    .intro {
        height: 193px;
        padding-top: 36px;
    }

    .intro_title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .intro-line {
        margin-bottom: 35px;
    }

    .intro_button {
        display: none;
    }

    .recent_work {
        padding: 20px 0 40px 0;
    }

    .recent_work-wrapper {
        padding: 0 20px;
    }

    .recent_work-title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recent_work-title {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    .recent_work-line {
        margin-bottom: 40px;
        width: 50px;
        height: 8px;
    }

    .recent_work-cards {
        grid-row-gap: 60px;
    }

    .recent_work-title-card {
        font-size: 16px;
        line-height: 19px;
    }

    .video_block {
        padding: 20px 20px 40px 20px;
        display: flex;
        justify-content: center;
    }

    .video_block-pic {
        margin-bottom: 43px;
    }

    .video-block-title {
        font-size: 24px;
        line-height: 38px;
        padding-bottom: 20px;
    }

    .video_block-line {
        width: 45px;
        margin-bottom: 23px;
    }

    .video_block-text {
        padding-bottom: 84px;
    }

    .testimonial {
        padding: 60px 22px 85px 22px;
    }

    .testimonial-quotes {
        padding-bottom: 80px;
    }

    .testimonial-text {
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 26px;
    }

    .back-to-top {
        height: 142px;
        justify-content: center;
    }

    .back-to-top_link {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .back-to-top_title {
        padding-bottom: 22px;
        margin-right: 0;
    }
}

/*media ends*/

